<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>ROZKLAD KPI API</h1>
        <p>Available API links</p>
    </div>
</main>

<ul>
    <% links.forEach(function(link) { %>
        <li>
            <%= link.name %>: <a href="<%= link.link %>"> <%= link.link %></a>
        </li>
        <% if (link.space) { %>
            <hr>
        <% } %>
    <% }); %>
</ul>

</body>
</html>